data_dir
node_modules
python/__pycache__/Indices.cpython-311.pyc
python/PakDMS_Indicies/Indices.py
python/__pycache__/Indices.cpython-312.pyc
python/__pycache__/spi_calc.cpython-312.pyc
frontend/package-lock.json
/python/env
python/.env
python/ee-iwmipk-eb7018526b80.json
.env